<iframe #mapIframe (load)="onLoad()" [src]="viewerPath" frameborder="no" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
<!-- <iframe #mapIframe (load)="onLoad()" src="http://localhost:8000" frameborder="no" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe> -->
  <!-- <iframe style="height: 100vh;" id="productIfream" runat="server" src="../../assets/webvowl/index.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe> -->
  

