$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path : '../node_modules/font-awesome/fonts';

$primary-color: #9D17CA;
$secondary-color: #808080;
$tertiary-color: #0567B9;

$theme-secondary-color: #0567B9;

$success-color: #28a745;
$error-color: #dc3545;