/*** External Styles ***/
.solrFacet {
	position: relative;
	top: 230px;
	left: 15px;
	.list {
		margin-bottom: 35px;
		.icon {
			float: left;
			padding-right: 8px;
		}
	}
}

.theme-violet {
	form.formEdit {
		fieldset {
			legend {
				color: setColor(violet, title-color);
			}
		}
	}
}

._tools {
	.section-title {
		padding-left: 15px;
      * {
         font-weight: 300;
      }
	}
	.pagination {
		justify-content: center;
	}
	.nav-tabs {
		padding-left: 15px;
	}
	.col-12.mx-auto {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
}
.hidden {
	display: none;
}
.select2-container {
	border: 0;
	padding-left: 0!important;
}
.select2-choice, .select2-choices {
	margin-right: -10px!important;
}

.select2-drop {
	margin-top: -8px!important;
}